.glutes:hover {
  fill: royalblue;
}
.deltoid:hover {
  fill: royalblue;
}
.hamstrings:hover {
  fill: royalblue;
}
.calves:hover {
  fill: royalblue;
}
.calves_back:hover {
  fill: royalblue;
}
.hips:hover {
  fill: royalblue;
}
.lower_back:hover {
  fill: royalblue;
}
.lats:hover {
  fill: royalblue;
}
.upper_back:hover {
  fill: royalblue;
}
.traps:hover {
  fill: royalblue;
}
.traps_back:hover {
  fill: royalblue;
}
.rear_deltoid:hover {
  fill: royalblue;
}
.triceps:hover {
  fill: royalblue;
}
.forearm:hover {
  fill: royalblue;
}
.forearm_back:hover {
  fill: royalblue;
}
.bicep:hover {
  fill: royalblue;
}
.chest:hover {
  fill: royalblue;
}
.abs:hover {
  fill: royalblue;
}
.obliques:hover {
  fill: royalblue;
}
.quadriceps:hover {
  fill: royalblue;
}
