.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item p {
  font-size: 12px;  
}

.grid-item img {
  width: 60px;  
  height: 60px;  
}

.history_button {
  width: 85px;
  margin-left: 124%;
  height: 50px;
  margin-top: -4%;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourites {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 50%;  
  max-height: 80vh;  
  overflow-y: auto;  
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #d32f2f;
}
