.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.history{
  width: 80%;
}
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 20px;
  transition: border 0.3s ease-in; /* Adding a smooth transition effect */
}

.grid-item:hover {
  border: 6px solid #000;
}

.grid-item p {
  font-size: 12px;
  text-align: center;
}

.grid-item img {
  width: 60px;
  height: 60px;
}

.material-symbols-outlined:hover {
  cursor: pointer;
}

/* CSS for WorkoutForm */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; /* Adjust the margin as needed */
}

.history_button {
  background: var(--primary);
  color: #fff;
  width: 125px;
  height: 60px;
  border: 0;
  padding: 2px;
  border-radius: 4px;
  font-family: "Poppins";
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favourites {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  width: 50%;
  max-height: 80vh;
  overflow-y: auto;
}

.close-button {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.close-button:hover {
  background-color: #d32f2f;
}
