.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../ha.jpeg");
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  z-index: -1; 
}

.foreground {
  color: rgb(0, 0, 0);
  text-align: start;
  position: absolute;
  top: 20%;
}

h1 {
  padding: 0;
  margin: 0;
  line-height: 1;
}
.text-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 85%; 
  left: 0;
  right: 0; 
  transform: translateY(
    50%
  ); 
}

.First_Text {
  font-family: "Concert One", cursive;
  font-size: 600%;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px; 
}
.Second_Text {
  font-family: "Concert One", cursive;
  font-size: 200%;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 20px; 
}


.button-container {
  display: flex;
  justify-content: center; 
}

.button {
  background-color: #ffffff;
  color: #000000;
  font-family: "Concert One", cursive;
  border-radius: 10px;
  font-size: 20px;
  margin-right: 20px; 
}

.button:last-child {
  margin-right: 0; 
}
.button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 1153px) {
  .First_Text {
      font-size: 400%; 
      top: 5px;
  }}

  @media only screen and (max-width: 873px) {
    .First_Text {
        font-size: 350%; 
        top: 5px;
    }}
@media only screen and (max-width: 768px) {
  .First_Text {
      font-size: 300%; 
      top: 5px;
  }

  .Second_Text {
      font-size: 150%; 
  }

  .foreground {
      top: 30%; 
  }

  .text-container {
      top: 60%; 
      font-size: 16px; 
  }

  .button {
      font-size: 16px; 
      padding: 10px 20px; 
  }
}

@media only screen and (max-width: 623px) {
  .First_Text,
  .Second_Text {
      font-size: 150%;
      line-height: 1.2; 
  }

  .foreground {
      top: 30%;
      right: 2%; 
  }

  .text-container {
      top: 50%; 
      font-size: 14px; 
  }

  .button {
      font-size: 14px; 
      padding: 8px 16px; 
  }

  .background {
      flex-direction: column; 
  }
  
  .photo{
    position:static;
  }
  
  .foreground,
  .text-container {
      width: 100%; 
  }
}

