/* Navbar.css */
.container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff; /* Set your desired background color */
  z-index: 1000; /* Ensure it appears above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for visual effect */

}
